#footer{
    background: #E21E26;
    .telephone{
        background-color: #FCB400;
        align-items: center;
        .bg-telephone{
            background-image: url('https://trungtamnhatngu.edu.vn/gioi-thieu/themes/default/images/icon-phone.png');
            background-repeat: no-repeat;
            background-position: center;
            color: black;
            width: 30px;
            height: 38px;
        }
    }
    .border{
        border: 1px solid grey;
    }
    .b_radius{
        border-radius: 10px;
    }
    .youtube{
        background-image: url('https://trungtamnhatngu.edu.vn/hoc-tieng-nhat-truc-tuyen-online/uploads/screenshot_1629335132.png');
        background-repeat: no-repeat;
        width: 131px;
        height: 45px;
        a{
            display: block;
            width: 131px;
            height: 45px;
            text-indent:-9999px;
        }
    }
    .facebook{
        background-image: url('https://trungtamnhatngu.edu.vn/hoc-tieng-nhat-truc-tuyen-online/uploads/screenshot_1629335099.png');
        background-repeat: no-repeat;
        width: 131px;
        height: 45px;
        a{
            display: block;
            width: 131px;
            height: 45px;
            text-indent:-9999px;
        }
    }
    .flex-gap{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5%;
    }
}