#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    ul {
        padding: 0px;
        li {
            list-style-type: none; 
        }
        li:hover{
            color: red;
            cursor: pointer;
        }
    }
    img {
        width: 29.16666667%;
    }
}